@charset "uft-8";
/*基本スタイル*/
body{font-size:30px;font-weight:bold;background-color:#473657}
.center{text-align:center}
.title{text-align:center;font-weight:lighter;color:blanchedalmond}
/*内容設定*/
.contents{
	margin:15px;
	padding:20px;
	border:2px solid #11261c;
	font-size:15px;
	color:black;
	background-color:#7dbb7d;
}
.contents a{color:#11261c}
.contents2{
	margin:15px;
	padding:20px;
	border:2px solid #11261c;
	font-size:15px;
	color:#7dbb7d;
	background-color:#11261c;
}
.contents2 a{color:#548fa7}
.contents-title{
	text-align:center;
	font-size:30px;
	color:black;
}
