@charset "UTF-8";
/*基本*/
body{
    color:#7dbb7d;background-color:#11261c;
    font-size:15px;font-family:'Courier New', Courier, monospace;
    text-align:center;
}
.title{
    color:#ff9900;
    font-size:25px;
    border-bottom:solid 1.5px #7dbb7d;
    padding:15px;margin:30px;margin-bottom:10px;
}
.contents{padding:15px;margin:30px}
.footer{color:#7dbb7d;font-size:20px;border-top:solid 1px #ff9900;padding: 3%;padding-bottom: 0%;}
.blockL {float:left;width:50%;text-align:left}
.blockR{float:right;width:50%;text-align:right}

/* リンク*/
body a{color:#ff9900;text-decoration:none}
body a:hover{background-color:#7dbb7d;color:#000;font-size:50px}

/*文字関係*/
.left{text-align:left}
.right{text-align:right}
body hr{color:#7dbb7d}

/*width が800px以下*/
@media(max-width:800px){
    .title{
        padding:5px;margin:10px;
    }
    .contents{
        font-size:25px;
        padding:15px;margin:1px;
    }
    .blockL {
        float:center;
        width:100%;
        text-align:left;
    }
     .blockR{
        float:center;
        width:100%;
        text-align:right;
    }
}