@charset "uft-8";
/*基本スタイル*/
body{font-size:20px;background-color:#7dbb7d}
body a{color:#ff9900}
.center{text-align:center}
/*文字のサイズ変えるやつ*/
.small{font-size:10px;font-weight:bold}
.big{font-size:40px;font-weight:bold}
/*内容設定*/
.contents{
	margin:15px;
	padding:20px;
	border:2px solid white;
	font-size:15px;
	color:#7dbb7d;
	font-weight:italic;
	background-color:#11261c;
}
.contents2{
	margin:15px;
	padding:20px;
	border:2px solid white;
	font-size:15px;
	color:#fff;
	font-weight:italic;
	background-color:darkolivegreen;
}
.contents-title{
	text-align:center;
	background-color:#e0ffcc;
	font-size:30px;
	color:#000;
	font-weight:bold;
}
.container{
	display:flex;
	flex-direction:column;
	min-height:100vh;
}
.footer{
	margin:5px;
	padding:10px;
	font-size:18px;
	color:#000;
	font-weight:bold;
	background-color:#e0ffcc;
	text-align:center;
}
.footer img{width:50%;height:90%}