body{
    background-color:#000000;color:#0011ff;
    text-align:center;    
    font-style:italic;font-size:15px;font-weight:400;
}
body a{text-decoration:none;color:#0011ff}
.space{font-size:100px}
.topSentence{
    font-size:15px;font-style:normal;
    background-color:#fff;color:#000
}
.bottomSentence{
    font-size:30px;font-style:normal;font-weight:900;
    background-color:#fff;color:#9c0000;
}