body{background-color:#11261c;color:#faebd7;text-align:center}
body a{color:#ff9900;text-decoration:none}
.blank{
    position:absolute;top:0;width:100%;
    border-top:solid 1px #ff9900;
    color:#7dbb7d;
}
.blank2{
    position:absolute;bottom:0;width:100%;
    border-bottom:solid 1px #ff9900;
    color:#ff9900;
}
.title{
    border-radius:5px;padding:15px;margin-top:50px;
    background-color:#486d48;font-size:50px;
}
.contents{
    border-radius:5px;
    background-color:#486d48;color:#ff9900;
    font-size:15px;padding:15px;margin-top:50px;
}
.contents a{font-size:30px;color:#7dbb7d;background-color:#000}
.contents a:hover{
    color:#000;
    background-color:#7dbb7d;
    font-size:50px;font-weight:900;
}
.background{justify-content:center;flex-wrap:wrap}